:root {
    --ff : 'DM Sans', sans-serif;
    --fw-400 : 400;
    --fw-700 : 700;
    --fs-400 : 1.125rem;

    --color-primary-red: hsl(10, 79%, 65%);
    --color-primary-blue: hsl(186, 34%, 60%);

    --color-400: hsl(33, 100%, 98%);
    --color-500: hsl(27, 66%, 92%);
    --color-600: hsl(28, 10%, 53%);
    --color-700:hsl(25, 47%, 15%);

    --w-mobile: 375px;
    --w-desktop: 1440px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: var(--color-500);
    font-family:var(--ff) ;
    font-size: var(--fs-400);
    font-weight: var(--fs-400);
    display: flex;
}

main {
    width: 90%;
    height: 80%;
    /* border: solid; */
    margin: auto;
    gap: 1rem;
    overflow-x: hidden;
}
/* HEADER */
header {
    width: 100%;
    background-color: var(--color-primary-red);
    color: var(--color-400);
    padding: 1rem 1.25rem;
    border-radius: 10px;
    line-height: 2rem;
}
.header__container {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: .8em;
    font-weight:var(--fw-400);
}
.header__money {
    font-weight: var(--fw-700);
    font-size: 1.25em;
}
#logo {
    height: 2.6rem;
    align-self: center;     
}