:root {
    --ff : 'DM Sans', sans-serif;
    --fw-400 : 400;
    --fw-700 : 500;
    --fs-400 : 1.125rem;

    --bg-primary-red: hsl(10, 79%, 65%);
    --bg-primary-blue: hsl(186, 34%, 60%);

    --bg-400: hsl(33, 100%, 98%);
    --bg-500: hsl(27, 66%, 92%);
    --bg-600: hsl(28, 10%, 53%);
    --bg-700:hsl(25, 47%, 15%);

    --w-mobile: 375px;
    --w-desktop: 1440px;

}
* {
    margin:0;
    box-sizing: border-box;
}
body {
    font-family:var(--ff) ;
    font-size: var(--fs);
}

