:root {
    --ff : 'DM Sans', sans-serif;
    --fw-400 : 400;
    --fw-700 : 500;
    --fs-400 : 1.125rem;

    --color-primary-red: hsl(10, 79%, 65%);
    --color-primary-blue: hsl(186, 34%, 60%);

    --color-400: hsl(33, 100%, 98%);
    --color-500: hsl(27, 66%, 92%);
    --color-600: hsl(28, 10%, 53%);
    --color-700:hsl(25, 47%, 15%);

    --w-mobile: 375px;
    --w-desktop: 1440px;

}
* {
    margin:0;
    box-sizing: border-box;
}
body {
    background: var(--color-500);
    font-family:var(--ff) ;
    font-size: var(--fs);
}
main{
    width: var(--w-mobile);
    height: 90vh;
    border: solid;
    margin: auto;
}
/* HEADER */
header {
    width: 100%;
    background-color: var(--color-primary-red);
    color: var(--color-400);
    display: inline-flex;
    justify-content: space-around;

}
